<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.levitnudi.fancytableview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LegacyTableViewDemoActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SimpleLegacyTableView"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LegacyTableViewThemes"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SQLiteToLegacyTableView"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CustomLegacyTableView"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AboutLegacyTableViewActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LegacyThemesDemoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UpdateTableDemo"
            android:label="@string/title_activity_update_table_demo"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>